<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>VueJS DataBinding</title>
        <link href="styles.css" rel="stylesheet" />
        <script src="https://unpkg.com/vue"></script>
        
    </head>
    <body>
        <div id="vue-dataBinding">
            Name:<input type="text" name="name" v-model="name"/> {{name}}
            Age:<input type="text" name="age" v-model="age"/>    {{age}} <br/><br/><br/>       
        
        </div>
        <script src="app.js"></script>
    </body>
    
</html>
